<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LunarDevKit.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LunarDevKit.lang_English" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LunarDevKit.Settings1>
            <setting name="Coise" serializeAs="String">
                <value>asdafsfd</value>
            </setting>
        </LunarDevKit.Settings1>
    </userSettings>
    <applicationSettings>
        <LunarDevKit.lang_English>
            <setting name="SaveWorldMsg" serializeAs="String">
                <value>Do you want to save the project before exiting the Editor?</value>
            </setting>
            <setting name="ExitEditorMsg" serializeAs="String">
                <value>Do you wish to exit Lunar Dev Kit?</value>
            </setting>
            <setting name="CompileScriptsSuccess" serializeAs="String">
                <value>Scripts compiled successfully!</value>
            </setting>
            <setting name="BuildLevelsSuccess" serializeAs="String">
                <value>Levels built successfully!</value>
            </setting>
            <setting name="BuildAssetsSuccess" serializeAs="String">
                <value>Assets built successfully!</value>
            </setting>
            <setting name="BuildGameSuccess" serializeAs="String">
                <value>Game built successfully!</value>
            </setting>
            <setting name="CompileScriptsFailed" serializeAs="String">
                <value>Scripts failed to compile!</value>
            </setting>
            <setting name="BuildLevelsFailed" serializeAs="String">
                <value>Levels failed to build!</value>
            </setting>
            <setting name="BuildAssetsFailed" serializeAs="String">
                <value>Assets failed to build!</value>
            </setting>
            <setting name="BuildGameFailed" serializeAs="String">
                <value>Game failed to build!</value>
            </setting>
            <setting name="OpenWorldFileFailed" serializeAs="String">
                <value>The world file could not be opened!</value>
            </setting>
            <setting name="FileNotFound" serializeAs="String">
                <value> could not be found!</value>
            </setting>
            <setting name="InvalidLocationPath" serializeAs="String">
                <value>Invalid location path!</value>
            </setting>
            <setting name="OpenWorld" serializeAs="String">
                <value>Open World</value>
            </setting>
            <setting name="IsAlreadyOpen" serializeAs="String">
                <value> is already open!</value>
            </setting>
            <setting name="CreateWorldSuccess" serializeAs="String">
                <value>World created successfully!</value>
            </setting>
            <setting name="CreateWorldFailed" serializeAs="String">
                <value>Failed to create the new world project!</value>
            </setting>
            <setting name="AssetsInitializeError" serializeAs="String">
                <value>Initialize cannot be called without Reset( ) being called first!</value>
            </setting>
            <setting name="SpriteWithSameNameExistsError" serializeAs="String">
                <value>A sprite with this name already exists!</value>
            </setting>
            <setting name="ChooseNewNameMsg" serializeAs="String">
                <value>Do you want to choose a new name?</value>
            </setting>
            <setting name="NewSpriteMsg" serializeAs="String">
                <value>New Sprite</value>
            </setting>
            <setting name="SpriteTypeNewName" serializeAs="String">
                <value>Type a new name for the sprite:</value>
            </setting>
            <setting name="FontWithSameNameExistsError" serializeAs="String">
                <value>A font with this name already exists!</value>
            </setting>
            <setting name="NewFontMsg" serializeAs="String">
                <value>New Font</value>
            </setting>
            <setting name="FontTypeNewName" serializeAs="String">
                <value>Type a new name for the font:</value>
            </setting>
            <setting name="ActorTypeWithSameNameExistsError" serializeAs="String">
                <value>An actor with this name already exists!</value>
            </setting>
            <setting name="NewActorTypeMsg" serializeAs="String">
                <value>New Actor</value>
            </setting>
            <setting name="ActorTypeTypeNewName" serializeAs="String">
                <value>Type a new name for the actor:</value>
            </setting>
            <setting name="OpenWorldSuccess" serializeAs="String">
                <value>World loaded successfully!</value>
            </setting>
            <setting name="SaveWorldSuccess" serializeAs="String">
                <value>World saved successfully!</value>
            </setting>
            <setting name="CreateLevelSuccess" serializeAs="String">
                <value>Level created successfully!</value>
            </setting>
            <setting name="SaveLevelSuccess" serializeAs="String">
                <value>Level saved successfully!</value>
            </setting>
            <setting name="CreateFontSuccess" serializeAs="String">
                <value>Font created successfully!</value>
            </setting>
            <setting name="CreateFontFailed" serializeAs="String">
                <value> font doesn't exist!</value>
            </setting>
            <setting name="CreateActorSuccess" serializeAs="String">
                <value>Actor created successfully!</value>
            </setting>
            <setting name="ImportSpriteSuccess" serializeAs="String">
                <value>Sprite(s) imported successfully!</value>
            </setting>
            <setting name="ImportSpriteFailed" serializeAs="String">
                <value>Failed to import the sprite(s) to the project!</value>
            </setting>
            <setting name="SaveLevelsSuccess" serializeAs="String">
                <value>Levels saved successfully!</value>
            </setting>
            <setting name="CreateDirectoryFailed" serializeAs="String">
                <value> directory couldn't be created!</value>
            </setting>
            <setting name="SaveFilePrompt" serializeAs="String">
                <value>Do you wish to save the </value>
            </setting>
            <setting name="LevelName" serializeAs="String">
                <value>level</value>
            </setting>
            <setting name="LevelWithSameNameExists" serializeAs="String">
                <value>A level with the same name already exists!</value>
            </setting>
            <setting name="NoObjectSelected" serializeAs="String">
                <value>No object selected</value>
            </setting>
            <setting name="PropertiesName" serializeAs="String">
                <value>Properties</value>
            </setting>
            <setting name="NoFontAssignedMsg" serializeAs="String">
                <value>This actor needs to have an assigned font asset in order to become a Text Actor!</value>
            </setting>
            <setting name="ScriptWithSameNameExistsError" serializeAs="String">
                <value>A script with this name already exists!</value>
            </setting>
            <setting name="FontDontExistError" serializeAs="String">
                <value>This font does not exist!</value>
            </setting>
            <setting name="NoFontAssigned" serializeAs="String">
                <value>No Font Assigned</value>
            </setting>
            <setting name="LayerDeletePrompt" serializeAs="String">
                <value>Are you sure you want to delete this layer?</value>
            </setting>
            <setting name="LayerWithSameNameExistsError" serializeAs="String">
                <value>A layer with this name already exists!</value>
            </setting>
            <setting name="ScriptSavePrompt" serializeAs="String">
                <value>Do you wish to save this script?</value>
            </setting>
            <setting name="NoScriptAssigned" serializeAs="String">
                <value>No Script Assigned</value>
            </setting>
            <setting name="ActortypePropertyChangedPrompt" serializeAs="String">
                <value>Do you want the changes to the selected actortype be applied to all it's instances?</value>
            </setting>
            <setting name="ActortypeNotFoundError" serializeAs="String">
                <value>Actor will not be placed in the level because a valid Actortype wasn't found!</value>
            </setting>
            <setting name="SaveAssetsPrompt" serializeAs="String">
                <value>Do you wish to save the assets before exiting?</value>
            </setting>
        </LunarDevKit.lang_English>
    </applicationSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>